<footer class="main-footer bg-dark">
    <div class="container p-4">
    <section class="ml-5">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2">
                <h5 class="fw-bold mb-2">
                    Order Now
                </h5>
                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Deals</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Pizza</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Sides</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Drinks</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Desserts</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2">
                <h5>About</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">About us</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Contactless Delivery</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Nutrition</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2">
                <h5>Our Policies</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Terms & Conditions</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Responsible Disclosure</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">FAQs & Help</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0 mt-2">
                <h5>Visit us</h5>

                <ul class="list-unstyled mb-0">
                    <li>
                        <a href="#!" class="text-white">Locate a store</a>
                    </li>
                    <li>
                        <a href="#!" class="text-white">Global blog</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-sm-3">
                <h6>Help us in serving better</h6>
            </div>
            <div class="col-12 col-sm-2">
                <button type="button" class="btn btn-md btn-secondary">Give Feedback</button>
            </div>
            <div class="col-12 offset-sm-1 col-sm-4">
                <h6 class="mt-1">Follow us</h6>
                <div>
                      <span>
                          <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-2x"></i> </a>
                        </span>
                    <span class="ml-3">
                     <a href="#!" class="text-white"><i class="fab fa-twitter fa-2x"></i> </a>
                </span>
                    <span class="ml-3">
                     <a href="#!" class="text-white"><i class="fab fa-youtube fa-2x"></i> </a>
                </span>
                </div>
            </div>
        </div>
    </section>
        <section class="mb-4">

        </section>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="#">PizzaStudio.com</a>
    </div>
</footer>
