<div class="card card-dark">
    <div class="card-header">
        <h3 class="card-title">
            <i class="fa fa-1x fa-user"></i> Login</h3>
    </div>
    <form class="mt-2">
        <div class="card-body">
            <div class="form-group">
                <label>Email Id</label>
                <input type="email" class="form-control" name="user" placeholder="Enter email" [(ngModel)]="userName" required>
                <p *ngIf="isError" class="errText">Username is required</p>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="password" placeholder="Enter password" [(ngModel)]="password" required>
                <p *ngIf="isError" class="errText">Password is required</p>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-sm-6">
                   <app-register></app-register>
                </div>
                <div class="col-sm-6">
                    <div class="float-end me-2">
                        <button type="submit" class="btn btn-sm btn-primary" (click) = "login()">Sign in</button>
                    </div>
                    <div class="float-end me-2">
                        <button type="submit" class="btn btn-sm btn-secondary">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>